# BEGIN WordPress
RewriteEngine On
RewriteBase /course-finder/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /course-finder/index.php [L]
# END WordPress 
